@layer components {
  .btn {
    font-family: var(--font-jwd-dosis), sans-serif;
    @apply inline-flex min-w-0 items-center justify-center border px-4 rounded-full py-3 uppercase leading-none tracking-wide
    transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:opacity-50 text-base font-medium;
  }

  .btn-xs {
    @apply text-xxs px-2 py-1.5 font-bold;
  }

  .btn-sm {
    @apply text-xs px-2.5 py-1.75 font-semibold;
  }

  .btn-md {
    @apply text-xl px-8 py-4;
  }

  .btn-lg {
    @apply text-2xl px-12 py-5;
  }

  .btn-text {
    @apply bg-transparent border-transparent text-twilightPurple-500 hover:text-dustyBlue-500
    dark:text-lavenderHaze-500 dark:hover:text-dustyBlue-400;
  }

  .btn-outlined {
    @apply bg-transparent border-2 border-dustyBlue-500 text-dustyBlue-500
     hover:border-twilightPurple-500 hover:text-twilightPurple-500  
     dark:hover:border-dustyBlue-400 dark:hover:text-dustyBlue-400;
  }

  .btn-contained {
    @apply border-dustyBlue-700 bg-dustyBlue-700 text-white hover:border-twilightPurple-500 hover:bg-twilightPurple-500;
  }

  .btn-danger {
    font-family: var(--font-jwd-dosis), sans-serif;
    @apply inline-flex min-w-0 items-center justify-center rounded-md border px-2.5 py-1.75 text-xs font-semibold uppercase leading-none tracking-wide transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:opacity-50;
    @apply border-limeGreen-500 bg-red-700 text-white hover:border-limeGreen-600 hover:bg-red-800;
  }

  .icon-btn {
    @apply inline-flex min-h-8 min-w-8 items-center justify-center rounded-lg px-2.5 py-1.5 leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:opacity-50;
    @apply text-midnightBlue-500 hover:bg-lavenderHaze-500 dark:text-lavenderHaze-500 dark:hover:bg-nightIndigo-500;
  }
}
