# App
NEXT_PUBLIC_API_BASE_URL=https://your-app-url.example

# MongoDB
MONGODB_URL=your_mongodb_connection_string

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLERK_WEBHOOK_SECRET=whsec_your_clerk_webhook_secret

# OpenAI
OPENAI_ORG=org_your_openai_org_id
OPENAI_PRJ=proj_your_openai_project_id
OPENAI_KEY=sk_your_openai_api_key

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret

# AWS S3
AWS_S3_REGION=your_aws_region
AWS_S3_BUCKET=your_aws_bucket_name
AWS_S3_ACCESS_ID=your_aws_access_key_id
AWS_S3_SECRET_KEY=your_aws_secret_access_key

# Download allowlist
DOWNLOAD_URL_ALLOWLIST=https://example-cdn.com,https://images.example.com
